.message {
    width: 400px;
    height: 150px;
    border: 2px solid rgb(16, 49, 236);
    word-break: break-all;
    margin-bottom: 2px;
}

.message_input {
    width: 396px;
    height: 50px;
    border: 2px solid rgb(10, 10, 10);
}